body {
  font-family: "Patrick Hand", cursive;
}

/* untuk navbar (index, header) */
nav a {
  cursor: pointer;
}
nav a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
nav img {
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px grey);
}
nav img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
nav ul li {
  padding-right: 20px;
}
nav ul li:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

/* untuk home */
.card {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  cursor: pointer;
}
.card:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
.card p {
  padding-top: 5px;
}
.card img {
  height: 150px;
}
